node_modules/
venv/
.idea/
*-lock.json

.env
koii-keys/
configs/docker/koii-*
configs/nodes/node-vars
configs/nodes/old-task-ids
configs/nodes/proxies
configs/nodes/stakes
configs/nodes/task-ids

images/
tests/
*.tar
test*.*
docker-compose-*.yml